@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --global-background: #ffffff;
  --global-text-color: #333;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--global-background);
  color: var(--global-text-color);
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}
